<footer class="footer mt-5" style="background-color: #f8f8f8; border-radius: 10px; padding: 10px;">
    <!-- Contenido del footer aquí -->
    <div>
        &copy; 2022 Distimec. Todos los derechos reservados.
    </div>
    <div class="social-icons">
        <i class="bi bi-facebook" style="font-size: 2em; color: #007bff;"></i>
        <!-- Agrega más iconos de redes sociales inventadas según sea necesario -->
        <i class="bi bi-twitter" style="font-size: 2em; color: #007bff;"></i>
        <i class="bi bi-instagram" style="font-size: 2em; color: #007bff;"></i>
    </div>
    </div>
</footer>
